body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

#root{
    width: 500px;
    height: 500px;
    margin: 100px auto;
    border: 2px solid gray;
    border-radius: 5px;
}

#content{
    width: 400px;
    height: 400px;
    margin: 100px auto;
}